.rounded-rectangle {
    width: 200px; /* Width of the rectangle */
    height: 100px; /* Height of the rectangle */
    background-color: #4CAF50; /* Background color */
    border-radius: 15px; /* Corner radius */
}

body {
  background: linear-gradient(135deg, rgba(158, 40, 32, 1), rgba(0, 0, 255, 0.8), rgba(0, 255, 0, 0.8));
}
